@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-univers bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
  /* custom scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #c084fc;
    border-radius: 10px;
  }
}